* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: url('alternative.jpg') no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}



.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 40, 70, 0.5); /* blue-ish overlay */
  z-index: 1;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  padding: 50px;
  border: 1px solid rgba(255,255,255,0.2);
  backdrop-filter: blur(6px);
  text-align: center;
  width: 380px;
  color: white;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.login-box input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: rgba(255,255,255,0.1);
  border: none;
  color: white;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: white;
  color: #002848;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.login-box a {
  display: block;
  margin-top: 15px;
  color: white;
  text-decoration: underline;
  font-size: 0.9em;
}
